DATA_DIR=/data
NEXTAUTH_URL=https://keep.{{ domain }}
NEXTAUTH_SECRET={{ karakeep_nextauth_secret }}
MEILI_ADDR=http://karakeep-meilisearch:7700
MEILI_MASTER_KEY={{ karakeep_meili_master_key }}
BROWSER_WEB_URL=http://karakeep-chrome:9222
DISABLE_SIGNUPS=true
