[Unit]
Description=Home Assistant
Documentation=https://www.home-assistant.io/docs/

[Service]
ExecStartPre=mkdir -p %E/%N

[Container]

# Use home-assistant.container.d/devices.conf to add local devices. For example,
# AddDevice=<zwave-device-id>:/dev/zwave
# AddDevice=<zigbee-device-id>:/dev/zigbee

GroupAdd=keep-groups

HostName=%N

Image=ghcr.io/home-assistant/home-assistant:latest

Label=traefik.enable=true
Label=traefik.http.routers.%N.rule=Host'(`home.${DOMAIN}`)'
Label=traefik.http.services.%N.loadbalancer.server.port=8123

Network=homelab.network

# Allow access to /dev/zigbee and /dev/zwave.
SecurityLabelDisable=true

Volume=/etc/localtime:/etc/localtime:ro
Volume=%E/%N:/config:Z

[Install]
WantedBy=default.target
