version = "2"

[default]
backup.exclude-caches = true
backup.exclude-if-present = [".nobackup"]
backup.one-file-system = true

[default.forget]
keep-hourly = 12
keep-daily = 7
keep-weekly = 8
keep-monthly = 24
prune = true
after-backup = true

{% set sources = restic_backup_paths | map(attribute='path') | list %}
{% set excludes = restic_backup_paths | selectattr('excludes', 'defined') | map(attribute='excludes') | flatten | list %}

[nas]
inherit = "default"
repository-file = "/home/{{ restic_user }}/.restic-repository-nas"
password-file = "/home/{{ restic_user }}/.restic-password-nas"

[nas.backup]
source = {{ sources | tojson }}
{% if excludes %}
exclude = {{ excludes | tojson }}
{% endif %}

[b2]
inherit = "default"
repository-file = "/home/{{ restic_user }}/.restic-repository-b2"
password-file = "/home/{{ restic_user }}/.restic-password-b2"

[b2.env]
B2_ACCOUNT_ID = "{{ vault_b2_account_id }}"
B2_ACCOUNT_KEY = "{{ vault_b2_account_key }}"

[b2.backup]
source = {{ sources | tojson }}
{% if excludes %}
exclude = {{ excludes | tojson }}
{% endif %}
