[Unit]
Description=resticprofile backup timer for {{ item.name }}

[Timer]
OnCalendar=*-*-* {{ '%02d' | format(restic_schedule_offset | int) }}/4:{{ item.minute }}:00
Persistent=true

[Install]
WantedBy=timers.target
