#!/bin/bash
set -uo pipefail

_restic() {
  local target=$1
  shift
  restic \
    --password-file ~/.restic-password-${target} \
    --repository-file ~/.restic-repository-${target} \
    "$@"
}

{% for target in restic_targets %}
{% for entry in restic_backup_paths %}
_restic {{ target }} backup \
  --exclude-caches \
  --exclude-if-present .nobackup \
  --one-file-system \
{% for exc in entry.excludes | default([]) %}  --exclude {{ exc }} \
{% endfor %}  {{ entry.path }} || true

{% endfor %}
_restic {{ target }} forget \
  --keep-hourly 12 \
  --keep-daily 7 \
  --keep-weekly 8 \
  --keep-monthly 24 \
  --prune || true

{% endfor %}
