[Unit]
Description=Restic backup (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User={{ restic_user }}
WorkingDirectory=/home/{{ restic_user }}
ExecStart=resticprofile --config /home/{{ restic_user }}/.config/resticprofile/profiles.toml backup %i
StandardOutput=journal
StandardError=journal
