[Unit]
Description=resticprofile backup for {{ item.name }}
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ resticprofile_binary }} --config {{ restic_home }}/.config/resticprofile/profiles.conf --name {{ item.name }} backup
