Host {{ restic_host }}
  ControlMaster auto
  ControlPath ~/.ssh/%r@%h:%p
  ControlPersist 4h
  ForwardAgent no
  ForwardX11 no
  ForwardX11Trusted no
  ServerAliveInterval 300
  StrictHostKeyChecking no
  User {{ restic_user }}
