[Unit]
Description=Prometheus Exporter National Weather Service
Documentation=https://github.com/56quarters/nws_exporter

[Container]
HostName=%N
Image=docker.io/56quarters/nws_exporter:latest
Network=homelab.network
Volume=/etc/localtime:/etc/localtime:ro

# Add this to prometheus-exporter-nws.container.d/exec.conf
# Exec=nws_exporter <nws-station>
