[Unit]
Description=Prometheus Exporter OpenWeather
Documentation=https://github.com/billykwooten/openweather-exporter

[Container]
# Environment=OW_CITY=
# Environment=OW_APIKEY=
EnvironmentFile=%N.env
Image=docker.io/billykwooten/openweather-exporter:latest
Network=homelab.network
Pod=prometheus.pod
Volume=/etc/localtime:/etc/localtime:ro
