FTLCONF_dns_cnameRecords={% for cname in pihole_cnames %}{{ cname }}.{{ domain }},{{ domain }}{% if not loop.last %};{% endif %}{% endfor %}
FTLCONF_dns_hosts={{ pihole_tailnet_ip }} {{ domain }}
FTLCONF_dns_listeningMode=ALL
FTLCONF_dns_upstreams={{ pihole_upstreams | join(';') }}
FTLCONF_webserver_api_password={{ pihole_password }}
