FTLCONF_dns_cnameRecords={{ pihole_cnames | map('regex_replace', '$', '.' ~ domain ~ ',' ~ domain) | join(';') }}
FTLCONF_dns_hosts={{ pihole_local_ip }} {{ domain }}
FTLCONF_dns_listeningMode=ALL
FTLCONF_dns_upstreams={{ pihole_upstreams | join(';') }}
FTLCONF_webserver_api_password={{ pihole_password }}
