---
- name: Compute required volume files from enabled services
  ansible.builtin.set_fact:
    required_volume_files: >-
      {{
        enabled_services
        | select('in', service_volumes.keys())
        | map('extract', service_volumes)
        | flatten
        | unique
      }}

- name: Deploy volume definitions
  ansible.builtin.copy:
    src: "{{ playbook_dir }}/../system/{{ item }}"
    dest: "{{ quadlet_dir }}/{{ item }}"
    mode: "0644"
  loop: "{{ required_volume_files }}"
